# Predicting Wine Quality: 
**By:** 
- Nikki de Vries
- Saul Gonzalez 
- Stephen Spivey

# The Goal: 
- Find drivers of wine quality for the california wine insitiute. 
- Based on the drivers, utilize clusters to make a regression model to predict wine quality.

# Proejct Outline: 
1. Data cquistision: 
    -  Acquire the data from: https://data.world/food/wine-quality
2. Data Preperation:
    - Combined the white and red csv's into a since csv
    - Clean the column data types
    - Investigate missing values
    - Investigate outliers
3. Data Exploration: 
    - Analyze the Uni/Bi/Multivarite variables to see how features interact. 
    - Use clustering to explore the data:
    - Conduct hypothesis testing
    - Correlation testing
4. Modeling: 
    - Create 4 modles based on the clusters and features discovered
5. Presentation:
    - 5 minute storytelling presentation based on drivers of wine quality

### Imports

In [1]:
# envivormental imports:
import final_wrangle as wr
#import final_explore

#core imports: 
import numpy as np
import pandas as pd

#visualizations:
import matplotlib.pyplot as plt
import seaborn as sns

# Aquire: 
- Data was imported from the wine quality link and converted into a single dataframe. 
- An additinoal column was created: wine_color for distinction between white and red wines.

In [2]:
# import the wine datafram: 
df = wr.wine_df()
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,wine_color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

# Data Preperation: 
- Steps taken to clean the data: 
    - Remove outliers. Removing the outliers with a K = 3 will remove 5 % of the data. 
    - Change the wine_color column to be numerical. 1 indicated red while 0 indicates white.
    - Change column names to have underscores for spaces
    - Make all the data types the same.

In [3]:
# clean the data
df = wr.clean_wine(df)
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,1.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0,1.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,1.0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0,1.0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,1.0

In [5]:
# remove the outliers
df = wr.remove_outliers(df, 3)
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,1.0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0,1.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0,1.0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6.0,1.0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0,1.0

# Explore
- Look at